table {
  width: 100%;
  margin-top: 15px;
}

th{
  width: 20%;
}
.pointer{
  cursor: pointer;
}

.color-edit{
  color: #1f516f;
}
.color-search{
  color: #1878b0;
}
.color-delete{
  color: #e15639;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}